<h1>プロフィール</h1>

<h3>ユーザー名</h3>
<div class="back-color"><%= @user.name %></div>
<img src=<%= @user.image %> class = "icon_image">
<h3>プロフィール</h3>
<div class="back-color"><%= @user.profile %></div><br>
<p><%= "id: #{@user.id}" %></p>
<section class="stats">
  <%= render 'devise/shared/stats' %>
</section>
<% unless @user == current_user %>
  <div id="follow_form">
    <% if current_user.following?(@user) %>
      <%= render 'devise/shared/unfollow' %>
    <% else %>
      <%= render 'devise/shared/follow' %>
    <% end %>
  </div>
<% end %>
<% if current_user == @user %>
<h3>メールアドレス</h3>
<div class="back-color"><%= @user.email %></div>
<%= link_to "編集", edit_user_registration_path, class: "btn btn-lg btn-primary" %>
<% end %>