<h2>マイプロフィール</h2>
<div class="user-show">
  <div class="user-info">
    <% if @user.image? %>
      <img src=<%= @user.image %> width="180" hight="180">
    <% else %>
       <%= image_tag asset_path('default.png') %>
    <% end %>
    <h1><%= @user.name %></h1><br>
    <% if @user.profile? %>
    　　<p><%= @user.profile %></p>
    <% else %>
    　　<p>プロフィールはありません</p>
    <% end %>
    <!-- フォロー・フォロワー一覧 -->
    <section class="stats">
      <%= render 'devise/shared/stats' %>
    </section>
    <% if @user != current_user %>
      <div id="follow_form">
        <% if current_user.following?(@user) %>
          <%= render 'devise/shared/unfollow' %>
        <% else %>
          <%= render 'devise/shared/follow' %>
        <% end %>
      </div>
    <% end %>
    <% if current_user == @user %>
      <h3>メールアドレス</h3>
      <%= @user.email %><br>
      <%= link_to "編集", edit_user_registration_path, class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
</div>
<%= render 'posts/post_user_index' %>