<h1>投稿編集</h1>
    <%= form_for @post do |f| %>
        <%= f.label :title, 'ネタの名前' %>
        <%= f.text_field :title, class: 'form-control' %>
        
        <%= f.label :title, 'ネタ種類' %>
        <%= f.select :kind, [["漫才", "漫才"], ["コント", "コント"], ["その他", "その他"]], class: 'form-control' %>
        
        <%= f.label :content, '投稿内容' %>
        <%= f.text_area :content, class: 'form-control'%>
        
        <%= f.label :画像 %><br/>
        <%= f.file_field :image, class: "image" %>
        <p><%= f.check_box :remove_image %>画像を削除する</p>

        <%= f.submit '完了', class: 'btn btn-info btn-block' %>
    <% end %>