<h1>ユーザー名</h1>
    <%= link_to(@user.name, user_path(@user))%>
<div class="back-color"><%= @post.content %></div>
    <div class="row">
        <ul>
            <li class="comment-create">
                <h3 class="text-left title">レビュー</h3>
            </li>
            <li id="comments_area">
                <%= render partial: 'comments/index', locals: { comments: @comments } %>
            </li>
        </ul>
        <hr>
        <% if user_signed_in? %>
            <div class="comment-create">
                <h3 class="text-left">レビューを投稿する</h3>
                <%= render partial: 'comments/form', locals: { comment: @comment, item: @item } %>
            </div>
        <% end %>
    </div>
    
<% if current_user == @user %>
<%= link_to '編集', edit_post_path(@post), class: "btn btn-outline-info" %>
<% end %>