<div class="post-show">
    <div class="post-user-info">
        <% if @user.image? %>
            <img src=<%= @user.image %> width="90" hight="90">
        <% else %>
            <%= image_tag asset_path('default.png'), :size =>'90x90' %>
        <% end %>
        <h3><%= link_to(@user.name, user_path(@user))%></h3>
    </div>
    <div class="post-content">
        <h3>タイトル：<%= @post.title %></h3><br>
        <p>ネタの種類：<%= @post.kind %></p><br>
        <p><%= @post.content %></p><br>
        <% if @post.image? %>
          <img src=<%= @post.image  %> width="90" hight="90"><br>
        <% end %>
        <% if current_user == @user %>
      <%= link_to '編集', edit_post_path(@post), class: "btn btn-primary" %>
      <%= link_to "削除" , @post, class: 'btn btn-danger', method: :delete %>
    <% end %>
    </div>
</div>
<%= render 'comments/comment-index' %>