<div class="container index">
<%= render partial: 'layouts/flash' %>
    <% @user.following.each do |user| %>
        <section class="card mb-3">
            <div class="row justify-content-center">
                <div class="col-4 mx-auto my-auto">
                    <%= link_to user_path(user) do %>
                        <div class="my-2">
                            <% if user.image? %>
                                <%= image_tag user.image.url, :size => "80x80", class: 'd-block time_line_user_image mx-auto' %>
                            <% else %>
                                <%= image_tag("default.png", class: 'time_line_user_image mx-auto', :size => "80x80", class: 'd-block mx-auto') %>
                            <% end %>
                        </div>
                    <% end %>
                </div>

                <%= link_to user_path(user) do %>
                <div class="col-8 card-body user-discription">
                    <div class="content_info">
                        <div class="time_line_user_name my-2">
                            <p class="mx-auto my-3 text-dark"><%= link_to user.name, user_path(user) %></p>
                        </div>
                        <% if user.profile? %>
                            <p class="card-text text-dark"><%= user.profile %></p>
                        <% else %>
                            <p class="card-text text-dark">まだプロフィールがありません</p>
                        <% end %>
                    </div>
                <% end %>
                <% if user.following?(current_user) %>
                    <p class="mt-3 text-right pr-3 nicomoji">(フォローされています)</p>
                <% end %>
            </div>
        </section>
    <% end %>
</div>